# Built application files
*.apk
*.aab
*.ap_
*.aapt
*.app
*.iPA
*.ipa
*.dex
*.class
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.pyc

# Local configuration file (sdk path, etc)
local.properties

# Gradle files
.gradle/
build/
*/build/
*/*/build/

# IDE files
.idea/
*.iml
*.ipr
*.iws

# MacOS
.DS_Store

# Log Files
*.log

# Keystore files
*.jks
*.keystore

# Google Services (e.g. APIs or Firebase)
google-services.json
